@font-face {
  font-family: "Open Sans";
  src: url("../fonts/2211.ttf");
}

body {
  font-family: "Open Sans", sans-serif;
  color: #7581a1;
  line-height: 26px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 305px;
}
.logo {
  display: block;
  width: 182px;
  height: 49px;
  background-image: url("../image/logo.png");
}

.screen-img {
  display: block;
  background-image: url("../image/header.png");
  background-repeat: no-repeat;
  width: 895px;
  height: 740px;
  position: absolute;
  right: 0;
  top: 189px;
}

h1 {
  font-size: 55px;
  font-weight: 600;
  color: #192b59;
  max-width: 500px;
  line-height: 67px;
  letter-spacing: 2px;
  margin-bottom: 21px;
}

.nav {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6e7ea9;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav > li {
  padding: 0 20px;
}

.nav-item {
  color: #6e7ea9;
  letter-spacing: 2px;
}

.title-40 {
  font-size: 40px;
  letter-spacing: -1.1px;
  color: #192b59;
  font-weight: 600;
  line-height: 60px;
}

.title-40 span {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
  color: #1085e4;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-primery {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background-color: #1085e4;
  border: 1px solid #1085e4;
  padding: 20px 40px;
  border-radius: 30px;
  letter-spacing: 1.2px;
  line-height: 90px;
  transition: 0.3s;
}

.btn-primery:hover {
  background-color: transparent;
  color: #1085e4;
}

.btn-secondary {
  color: #7e8bae;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.7px;
  font-weight: 700;
  line-height: 90px;
  background-color: #cbdbe8;
  border: 1px solid #cbdbe8;
  padding: 15px 24px;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #fff;
}

.btn-free {
  font-weight: 400;
  padding: 15px 41px;
}

.btn-group a + a {
  margin-left: 15px;
}

.btn-info {
  color: #8085b1;
  background-color: #f5faff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.7px;
  font-weight: 700;
  line-height: 90px;
  padding: 15px 45px;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-info:hover {
  color: #fff;
  border: 1px solid #94b4cc;
  background: #94b4cc;
}

/* page-grid */

.page-grid {
  padding: 64px 0;
}
.grid {
  display: grid;
  grid-template-areas:
    "a b c"
    "d b c"
    "d f g"
    "e f g"
    "e h h";
  grid-gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1110px;
  margin: 0 auto;
}

.grid-title {
  grid-area: a;
}
.grid-item-1 {
  grid-area: b;
}

.grid-item-2 {
  grid-area: c;
}

.grid-item-3 {
  grid-area: d;
}

.grid-item-4 {
  grid-area: e;
}

.grid-item-5 {
  grid-area: f;
}

.grid-item-6 {
  grid-area: g;
}

.grid-text {
  grid-area: h;
  padding: 0 14px;
}

.grid h2 {
  font-size: 40px;
  color: #192b59;
  font-weight: 700;
}
.grid-name {
  font-size: 14px;
  color: #1085e4;
}

.grid-name span {
  font-size: 16px;
  font-weight: 700;
  color: #192b59;
}
.grid h2 span {
  font-size: 14px;
  color: #1085e4;
  display: block;
}

.grid-item {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px #f4f4f4;
  padding: 40px 29px 64px;
}

.grid-item h3 {
  font-weight: 600;
  font-size: 20px;
  color: #192b59;
  margin-bottom: 18px;
}

.grid-item a {
  font-size: 14px;
  font-weight: 600;
  color: #1085e4;
}
.grid-icon {
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  height: 92px;
  margin: 0 auto 21px;
}
.grid-icon-1 {
  background-image: url("../image/icon-1.png");
  background-size: 54px 71px;
}

.grid-icon-2 {
  background-image: url("../image/icon-2.png");
  background-size: 55px 70px;
}

.grid-icon-3 {
  background-image: url("../image/icon-3.png");
  background-size: 71px 74px;
}

.grid-icon-4 {
  background-image: url("../image/icon-4.png");
  background-size: 70px 70px;
}

.grid-icon-5 {
  background-image: url("../image/icon-5.png");
  background-size: 70px 70px;
}
.grid-icon-6 {
  background-image: url("../image/icon-6.png");
  background-size: 74px 70px;
}
p {
  font-size: 16px;
}

.grid-item a {
  font-size: 14px;
  color: #1085e4;
  font-weight: 600;
}

/* page-stat */
.page-stat,
.page-screen-preview {
  background-color: #edf6ff;
}

.page-stat {
  padding: 114px 90px;
  position: relative;
}

.list-stat {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.list-stat > li {
  color: #1085e4;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.7px;
  margin-top: 76px;
}

.list-stat > li > span {
  display: block;
  color: #bacbdc;
  font-size: 60px;
  letter-spacing: 0px;
  margin-bottom: 23px;
}

.object-circle {
  display: block;
  position: absolute;
  left: 0;
  bottom: -361px;
  background-image: url("../image/circle.svg");
  width: 489px;
  height: 763px;
  background-repeat: no-repeat;
  background-size: contain;
}

.object-rhomb {
  display: block;
  position: absolute;
  top: -360px;
  right: 0;
  background-image: url("../image/rhomb.svg");
  width: 569px;
  height: 663px;
  background-repeat: no-repeat;
  background-size: contain;
}
.title-h2 {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.5px;
}

.title-h2 span {
  display: block;
  color: #1085e4;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 14px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.page-stat .title-h2,
.page-screen-preview .title-h2 {
  text-align: center;
  margin: 0 auto;
}

.page-stat .title-h2 {
  width: 401px;
}

.page-subscribe.title-h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
}

.page-subscribe.title-h2 span {
  font-size: 14px;
}

.content-app.title-h2 {
  margin-bottom: 36px;
}

/* page-screen-preview */

.page-screen-preview,
.page-plan {
  text-align: center;
}

.page-screen-preview {
  padding-top: 120px;
}

.screen {
  margin-top: 36px;
  margin-bottom: -7px;
}

/* page-plan */

.page-plan {
  padding: 81px 0 118px 0;
}
.box-price {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
}
.box-price-item ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 36px;
  margin-bottom: 63px;
  font-size: 14px;
}

.box-price-item {
  background: #f5faff;
  flex-basis: 32%;
  position: relative;
  padding: 90px 0 96px 0;
}

.box-price-item.active {
  background-color: #192b59;
  color: #fff;
}

.box-price-item h3 {
  color: #000958;
  font-size: 78px;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 17px;
}

.box-price-item h3 span {
  font-size: 20px;
}

.box-price-item p {
  font-size: 14px;
  color: #0084ff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.box-price-item:first-child h3 {
  margin-bottom: 35px;
}

.box-price-item h3 span:first-child {
  color: #000958;
}
.box-price-item h3 span:last-child {
  color: #7b8ab2;
}

.box-price-item.active.btn-primery {
  border: 1px solid #94b4cc;
  color: #fff;
  background-color: #94b4cc;
}

.box-price-item ul > li {
  margin-bottom: 14px;
}
.box-price-item::after {
  content: "";
  width: 58px;
  height: 100%;
  position: absolute;
  background-image: url();
  top: 0;
  right: 0;
}

.box-price-item.active::after {
  display: none;
}

.box-price .btn-primery {
  padding: 20px 60px;
}

/* page-header */

.page-header {
  background-image: url("../image/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 53px 0 300px 0;
  position: relative;
}

/* page-company */
.page-company {
  background-image: url("../image/fon-company.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 106px 0 99px;
}

.list-company {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
}

.list-company-item {
  display: block;
}
.company-one {
  background-image: url(../image/token.png);
  flex-basis: 198px;
  height: 58px;
}
.company-two {
  background-image: url(../image/fractal.png);
  flex-basis: 200px;
  height: 69px;
}
.company-three {
  background-image: url(../image/boohoo.png);
  flex-basis: 201px;
  height: 47px;
}
.company-four {
  background-image: url(../image/magneto.png);
  flex-basis: 200px;
  height: 69px;
}

/* page-subscribe */

.page-subscribe {
  padding: 25px 0 28px 0;
  color: #fff;
  background: rgba(10, 32, 144, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 120, 205, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(10, 32, 144, 1)),
    color-stop(100%, rgba(35, 120, 205, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 120, 205, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 120, 205, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 120, 205, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 120, 205, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.box-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-subscribe-text {
  font-size: 18px;
  max-width: 437px;
}

.box-subscribe-user {
  position: relative;
}

.box-subscribe-user input {
  display: block;
  box-sizing: border-box;
  border: 2px solid #3f5cb1;
  border-radius: 45px;
  color: #fff;
  background-color: transparent;
  width: 100%;
  padding: 25px 230px 37px 25px;
  font-size: 14px;
}

.box-subscribe-child {
  flex-basis: 49%;
}

.box-subscribe-user input:focus,
.box-subscribe-user .btn-primery {
  outline: none;
}

.box-subscribe-user .btn-primery {
  line-height: 0px;
  padding: 30px 70px;
  position: absolute;
  top: 9px;
  right: 8px;
}

.box-subscribe-user input::-webkit-input-placeholder {
  color: #b1c3ee;
}
.box-subscribe-user input::-moz-input-placeholder {
  color: #b1c3ee;
}

.box-subscribe-user input:-moz-input-placeholder {
  color: #b1c3ee;
}

.box-subscribe-user input:-ms-webkit-input-placeholder {
  color: #b1c3ee;
}

/* page-softwere */
.page-softwere {
  padding: 109px 0 156px 0;
  position: relative;
  overflow: hidden;
}

.setting-icon {
  display: block;
  width: 126px;
  height: 133px;
  background-image: url("../image/logo-feature.png");
  background-repeat: no-repeat;
}

.page-softwere .title-h2 {
  margin-top: 12px;
  margin-bottom: 26px;
  max-width: 766px;
}
.page-softwere-list {
  margin-top: 31px;
  height: 323px;
  overflow: hidden;
  overflow-y: scroll;
}

.page-softwere-list::-webkit-scrollbar {
  width: 4px;
  /* height: 3px; */
}
.page-softwere-list::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #1085e4;
  border-radius: 10px;
}
.page-softwere-list::-webkit-scrollbar-track-piece {
  background-color: #f3f6ff;
}
.page-softwere-list::-webkit-scrollbar-button {
  background-color: #1085e4;
}
/* .page-softwere-list::-webkit-scrollbar-corner {
  background-color: yellow;
}
.page-softwere-list::-webkit-scrollbar-track {
  background-color: green;
} */

.page-softwere-list dt {
  font-weight: 700;
  color: #5a6789;
  margin-bottom: 10px;
}

.page-softwere-list dd {
  margin-left: 0;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 1.8;
}

.page-softwere-flex {
  display: flex;
  justify-content: flex-end;
}

.page-softwere-flex > div {
  flex-basis: 55%;
}

.softwere-pic {
  display: block;
  width: 1002px;
  height: 818px;
  background-image: url("../image/softwere.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* page-app */

.page-app {
  padding: 69px 0 82px 0;
}

.page-app .wrap {
  position: relative;
}

.intro {
  color: rgba(0, 0, 0, 0.04);
  font-weight: 900;
  font-size: 300px;
  line-height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  text-align: center;
  margin: 0;
}

.page-app-text {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c4d2dd;
  margin-top: 27px;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
}

.page-app-list {
  padding: 0;
  list-style-type: none;
}

.page-app-list > li {
  display: inline;
}

.page-app-list > li > a {
  display: inline-block;
  width: 172px;
  height: 68px;
  background-image: url("../image/app2.png");
  background-repeat: no-repeat;
}

.page-app-android {
  background-position: 0 0;
}

.page-app-ios {
  background-position: -190px 0px;
  margin-left: 10px;
}

.content-app {
  width: 55%;
}

a.video-app {
  position: absolute;
  right: -168px;
  top: -50px;
}

/* page-screen */

.page-analytics {
  background-image: url("../image/screen4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 117px 0 137px 0;
}

.flex-analytics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-analytics .title-h2 {
  margin-top: 12px;
  margin-bottom: 26px;
  max-width: 766px;
}

.flex-analytics-text {
  margin-bottom: 53px;
}

.flex-analytics > div {
  flex-basis: 53%;
}

/* page-screen */

.page-screen {
  background-image: url("../image/limbo6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 117px 0 137px 0;
}

.page-screen .title-h2 {
  margin-top: 12px;
  margin-bottom: 26px;
  max-width: 766px;
}

.screen-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-screen-text {
  margin-bottom: 53px;
}

.screen-flex > div {
  flex-basis: 53%;
}

/* page-clients */

.page-clients {
  position: relative;
  margin-top: 120px;
  padding: 43px 0 0 0;
}

.page-clients::before {
  content: "";
  display: block;
  background-image: url("../image/bg-clients.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-clients .title-40,
.page-team .title-40 {
  color: #ffffff;
}

.page-clients .title-40 span,
.page-team .title-40 span {
  color: #85c8ff;
}

.box-clients {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.box-clients-item {
  background-color: #fff;
  padding: 21px 42px;
  border-radius: 10px;
  flex-basis: 31%;
  box-sizing: border-box;
  font-size: 14px;

  box-shadow: 0 5px 6px #f4f4f4;
}

.box-clients-item .name {
  font-weight: 600;
  font-size: 22px;
  color: #000958;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.box-clients-item .position {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #1085e4;
  margin-top: 0;
  letter-spacing: 3px;
}

.box-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-info > div {
  padding-left: 20px;
}

.box-clients-item > p {
  margin-bottom: 4px;
}

/* page-team */
.page-team {
  text-align: center;
  background-image: url("../image/team-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 82px 0 121px 0;
}

.box-team {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.box-team .position {
  font-size: 14px;
  text-transform: uppercase;
  color: #1a88e1;
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.box-team .name {
  font-size: 26px;
  font-weight: 600;
  color: #192b59;
  margin-top: 8px;
  letter-spacing: -0.9px;
}

.box-team-item {
  background: #fff;
  flex-basis: 31%;
  box-shadow: 0 5px 6px #f4f4f4;
  position: relative;
  padding: 190px 31px 42px 31px;
  box-sizing: border-box;
}
.box-team-item .avatar {
  position: absolute;
  top: -86px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.box-team-item .btn-more:focus {
  outline: none;
}
.box-team-item .btn-team {
  background-color: #f3f3f3;
  border-radius: 100%;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  padding: 0;
  border: none;
  transition: 0.3s;
}

.box-team-item .btn-team:hover {
  background-color: #1a88e1;
}

.box-team-item .btn-team span {
  background-image: url("../image/sprite.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  display: block;
}

.box-team-item .btn-more span {
  background-position: -6px -47px;
  width: 21px;
  height: 21px;
}
.box-team-item .btn-more:hover span {
  background-position: -8px -12px;
}

.social-team {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box-team-item .btn-fb span {
  background-position: -33px -39px;
  width: 37px;
  height: 37px;
}

.box-team-item .btn-fb:hover span {
  background-position: -34px -3px;
}

.box-team-item .btn-tw span {
  background-position: -70px -41px;
  width: 37px;
  height: 37px;
}

.box-team-item .btn-tw:hover span {
  background-position: -72px -7px;
}

.box-team-item .btn-be span {
  background-position: -107px -41px;
  width: 37px;
  height: 37px;
}

.box-team-item .btn-be:hover span {
  background-position: -111px -8px;
}

.box-team-item .btn-web span {
  background-position: -148px -39px;
  width: 37px;
  height: 37px;
}

.box-team-item .btn-web:hover span {
  background-position: -150px -6px;
}

/* page-form */

.page-form {
  background-image: url("../image/form-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0 121px 0;
}

.page-form .btn-primery {
  line-height: 0;
  letter-spacing: 2px;
  position: relative;
  padding: 22px 40px 22px 56px;
  max-width: 232px;
}

.page-form .btn-primery::before {
  content: "";
  display: block;
  background-image: url("../image/btn-plane.png");
  position: absolute;
  left: 40px;
  top: 16px;
  width: 15px;
  height: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
}

.contact-form input,
.contact-form textarea {
  font-size: 14px;
  border: 2px solid #dce4ec;
  padding: 26px 80px 26px 39px;
  border-radius: 35px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #8995b3;
}
.contact-form input::-moz-input-placeholder,
.contact-form textarea::-moz-input-placeholder {
  color: #8995b3;
}

.contact-form input::-moz-input-placeholder,
.contact-form textarea::-moz-input-placeholder {
  color: #8995b3;
}
.contact-form input:-ms-webkit-input-placeholder,
.contact-form textarea:-ms-webkit-input-placeholder {
  color: #8995b3;
}

.flex-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1090px;
  margin: 0 auto;
}

.flex-form > div {
  flex-basis: 47%;
}

.flex-form img {
  margin-right: 60px;
}
.contact-form textarea {
  min-height: 161px;
  resize: none;
}

.contact-form-item {
  margin-bottom: 29px;
  position: relative;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
.contact-form-item::after {
  content: "";
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 42px;
}

.contact-form-name::after {
  background-image: url("../image/name.png");
  width: 27px;
  height: 27px;
  top: calc(50% - 13px);
}

.contact-form-mail::after {
  background-image: url("../image/email.png");
  width: 27px;
  height: 27px;
  top: calc(50% - 13px);
}

.contact-form-text::after {
  background-image: url("../image/text.png");
  width: 27px;
  height: 27px;
  top: 20px;
}
